<div class="card mb-4 mt-3">
  <div class="card-body">
    <img class="card-img-top img-fluid max-width" src="{{plan.imageUrl}}" alt="{{plan.imageUrl}}">
    <h5 class="card-title mt-2">{{plan.title}}</h5>
    <h6 class="card-title mt-2">{{plan.level.name}} - {{plan.level.licenses}} licenses</h6>
    <h6>Speed: {{plan.speed}} mb/s</h6>
    <p>Included licenses:</p>
    <div *ngFor="let license of selectedLicenses">
      [{{license}}]
    </div>
    <div class="card-footer">
      <p class="price">{{plan.price | currency}}
        <a class="btn btn-sm float-right" id="buy">
          Buy
        </a>
      </p>
    </div>
  </div>
</div>
