.container {
    margin-top: 50px;
    min-height: 600px;
    border: 4px solid gray;
    border-radius: 3px;
    padding: 20px;
  }
  
  .nav a {
    text-align: left;
  }
  
  .col-3 {
    margin-top: 50px;
    height: fit-content;
  }
  
  .col-9 {
    margin-top: 50px;
    height: fit-content;
  }
  
  
  .col-5 {
    margin-top: 30px;
    height: fit-content;
  }
  