

#outer {
  margin-top: 6em;
  width: 100%;
  align-content: center;
}
#forgotpw{
  width: 25%;
  margin: 0 auto;
  display: block;
  border-style: solid;
  border-radius: 20px;
  border-width: thin;

}
