.dark-page-btm {
  background: #333333;
}

.social {
  color: #d5d5d5;
  text-shadow: 1px 1px 1px black;
  transition: transform .3s;
  padding: 5px;
  
  
}

.social a:hover {
  color:#eeeeee;
  zoom: 1.1;
}

#footer {
  background-color: #2d2d30;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3em;            /* Footer height */
  overflow: hidden;
}
