<div class="row">
  <div class="col" *ngFor="let product of products" id="products">

    <div class="card">
      <!--  IMAGE -->
      <div class="card-top">
        <img *ngIf="product.imageUrl == null" class="card-img-top null" src="../assets/images/testimages/gd.png"
             alt="Card image cap">
        <img *ngIf="product.imageUrl != null" class="card-img-top" src="{{product.imageUrl}}" alt="Card image cap">
      </div>

      <!--    BODY-->
      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">
          <span *ngFor="let tag of product.tagIDs">
            <h6>{{getTagName(tag)}}</h6>
          </span></p>
        <p class="card-text ">{{product.description}}</p>
        <br>
        <br>
        <p *ngIf="product.quantity == 0" class="card-stock"><i class="fa fa-square null"></i>  out of stock</p>
        <p *ngIf="product.quantity != 0" class="card-stock"><i class="fa fa-square"></i> {{product.quantity}} in
          stock</p>
      </div>
      <!--      FOOTER-->
      <div class="card-footer">
        <p class="price">{{product.price | currency}}
          <a class="btn btn-sm float-right" (click)="add(product)" id="buy">
            Buy
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
