.fullscreen{
  background-image: url(../../../../assets/images/bg7.png); // TAKEN WITHOUT CREDIT GIVEN LELELE
  padding-top: 20px;
  padding-bottom: 30px;
  height: 200vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
