.fullscreen{
  background-image: url(../../../../../assets/images/ordercomplete.jpg); // TAKEN WITHOUT CREDIT GIVEN LELELE
  background-position: center;
  padding-top: 20px;
  padding-bottom: 30px;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 1000px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  padding-bottom: 20px;
  padding-top: 20px;
}
img {
    height: 8em;
    width: auto;
}

#top {
    margin-top: 8em;
}
#thanks {
    margin-top: 0.7em;
    font-size: 2em;
}

hr {
    border-width: 2px;
}
@media screen and (min-width: 1300px) {
  width: 1000px;
}

