<div class="container-fluid" id="top">
<div class="row d-flex justify-content-center mb-4">
  <div class="container-license pt-2"> 
    <div class="row text-center">
      <div class="col">
        <h1 class="text-white">Our Licenses</h1>
        <h4 class="text-white font-italic">Pick and choose from our library!</h4>
        <p class="mt-1">Licenses include customized meme libraries suited for your needs.</p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container mb-2">
  <div class="row">
    <div class="col-xl-2 col-lg-3 col-sm-5 col-6 ml-2">
      <label for="sortSales">Sort by:</label><select id="sortSales" class="form-control" (change)="sort()">
      <option value="desc">Rating: High to Low</option>
      <option value="asc">Rating: Low to High</option>
      <option value="low">Price: Lowest first</option>
      <option value="high">Price: Highest first</option>
    </select>
    </div>
    <div class="col-10"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-6" *ngFor="let license of licenses; let i=index">
      <div class="card">
        <!--    BODY-->
        <div class="card-body d-flex flex-column">
          <img src="{{license.imageUrl}}" alt="license image">
          <div class="text-center">
            <h2>{{license.title}}</h2>
            <h5 class="text-muted">< {{license.tag.name}} ></h5>
            <h6 class="text-muted">| {{license.format.name}} |</h6>
          </div>
          <hr>
          <div class="no-space">
            <div class="no-space2">
              <span class="sale pb-2 mb-0 pt-0 mt-0 "
                    *ngIf="license.salePrice > 0">{{1 - license.salePrice / license.price | percent }}</span>
            </div>
          </div>
          <div class="no-space">
          <div class="no-space2 second-type-moving">
              <span class="pb-2 mb-0 pt-0 mt-0 ">
              <app-view-included-products [license]="license"></app-view-included-products></span>
          </div>
        </div>
          <p class="text-center text-muted desc-text">{{license.description}}</p>
          <div class="row mt-auto">
            <div class="col-12">
              <h6 class="text-center review-container">Rate this license:</h6>
            </div>
            <div class="col-12 stars-margin">
              <app-star-review (click)="consLog(license.id)" [productId]="licenseId"
                               [userId]="userId"></app-star-review>
            </div>
            <div class="col-12">
              <h6 class="text-white text-center" *ngIf="getObjectRating(license.id) === 0">
                <span class="badge badge-dark review-badge">No Reviews</span>
              </h6>
              <h6 class="text-white text-center" *ngIf="getObjectRating(license.id) !== 0">
                     <span class="badge badge-dark review-badge">
                       {{getObjectRating(license.id) | number: '1.1-1'}} <i class="fa fa-star fa-star-yellow"></i>
                      </span>
              </h6>
            </div>
          </div>
        </div>
        <div class="container pb-2">
          <div class="row" *ngIf="license.salePrice > 0">
            <div class="col-8 move-sale-price">
              <h6 *ngIf="license.quantity === 0" class="stock-font-size"><i class="fa fa-square fa-square-red"></i> Out
                of Stock<br></h6>
              <h6 *ngIf="license.quantity  > 0 && license.quantity < 10" class="stock-font-size"><i
                class="fa fa-square fa-square-yellow"></i> {{license.quantity}} in
                Stock<br></h6>
              <h6 *ngIf="license.quantity  >= 10" class="stock-font-size"><i
                class="fa fa-square fa-square-green"></i> {{license.quantity}} in
                Stock<br></h6>
              <h6 class="old-price text-muted">OLD: {{license.price | currency}}<br></h6>
              <h6>NOW: <span class="font-weight-bold">{{license.salePrice | currency}}</span></h6>
            </div>
            <div class="col">
              <br>
              <a *ngIf="license.quantity === 0" class="btn btn-outline-dark disabled font-weight-bold pull-right mb-1" role="button">
                BUY
              </a>
              <a *ngIf="license.quantity > 0" class="btn btn-outline-dark btn-license pull-right mb-1" role="button"
                 (click)="add(license)">
                BUY
              </a>
            </div>
          </div>
          <div class="row" *ngIf="license.salePrice === 0">
            <div class="col-8">
              <h6 *ngIf="license.quantity === 0" class="stock-font-size stock-move"><i
                class="fa fa-square fa-square-red"></i> Out of Stock<br></h6>
              <h6 *ngIf="license.quantity  > 0 && license.quantity < 10" class="stock-font-size stock-move"><i
                class="fa fa-square fa-square-yellow"></i> {{license.quantity}} in
                Stock<br></h6>
              <h6 *ngIf="license.quantity  >= 10" class="stock-font-size stock-move"><i
                class="fa fa-square fa-square-green"></i> {{license.quantity}} in
                Stock<br></h6>
              <h5 class="move-price font-weight-bold mt-3">{{license.price | currency}}</h5>
            </div>
            <div class="col">
              <br>
              <a *ngIf="license.quantity === 0" class="btn btn-outline-dark disabled font-weight-bold pull-right mb-1" role="button">
                BUY
              </a>
              <a *ngIf="license.quantity > 0" class="btn btn-outline-dark btn-license pull-right mb-1" role="button"
                 (click)="add(license)">
                BUY
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<ng-template #addLicenseModal let-modal>
  <div class="modal-container bg-white justify-content-center">
  <div *ngIf="products" class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Products included: {{products.length}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

      <div *ngIf="products && products.length > 0" class="modal-body">
      <div class="row">
        <div class="col-xl-4 col-6" *ngFor="let product of products; let i=index">
          <div class="card-modal">
            &lt;!&ndash;  IMAGE &ndash;&gt;
            <div class="card-body-info text-center">
              <video class="card-img-top align-self-center" *ngIf="isVideoFormat(product); else img" controls
                     src="{{product.imageUrl}}"></video>
              &lt;!&ndash;    BODY&ndash;&gt;
              <img class="card-img-top align-self-center" *ngIf="!isVideoFormat(product)"  src="{{product.imageUrl}}">
                <h2 class="card-modal-tile">{{product.title}}</h2>
                 <h5 class="card-modal-subtitle text-muted"><span *ngFor="let tag of product.tags">< {{tag.name}} ></span></h5>
                <h6 class="card-modal-para text-muted">| {{product.format.name}} |</h6>
              </div>
            </div>
          </div>
        </div>
      </div>

  <div *ngIf="!products || products.length === 0" class="modal-body">
    This license contains no products at this time
  </div>
  </div>
</ng-template>-->
