<div class="row mt-5">
  <div class="col-3">
    <app-add-product></app-add-product>
    <div class="nav flex-column nav-pills mt-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="btn btn-outline-dark text-left active" id="v-pills-profile-tab" data-toggle="pill"
         href="#v-pills-profile"
         role="tab"
         aria-controls="v-pills-profile" aria-selected="false"><span uk-icon="icon:  list; ratio: 1"
                                                                     class="mr-2"></span> Overview</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        <app-message></app-message>
        <div>
          <label for="sortID">Sort by:</label><select id="sortID" class="form-control-sm ml-3" (change)="sort()">
          <option>Price</option>
          <option>Title</option>
          <option>Quantity</option>
        </select>
        </div>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">
              <label class="col-6 ml-2">
                <input type="checkbox" disabled>
              </label>
            </th>
            <th scope="col">Title</th>
            <th scope="col">Tag(s)</th>
            <th scope="col">Format</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Description</th>
            <th scope="col">Action(s)</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of products; index as i">
            <th scope="row">
              <label class="col-6 ml-2">
                <input type="checkbox" disabled>
              </label>
            </th>
            <td>{{ product.title}}</td>
            <td>
              <p *ngFor="let tag of product.tags; index as j">
                {{ tag.name }},
              </p>
            </td>

            <td>{{ product.format.name }}</td>
            <td>{{ product.price | number }}</td>
            <td>{{ product.quantity | number}}</td>
            <td class="productDescription">{{ product.description}}</td>
            <td>
              <app-update-product [product]="product"></app-update-product>

              <app-delete-product [product]="product"></app-delete-product>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
          </ngb-pagination>

          <label>
            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (click)="onSubmit();">
              <option [ngValue]="2">2 items per page</option>
              <option [ngValue]="4">4 items per page</option>
              <option [ngValue]="6">6 items per page</option>
            </select>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
