<div class="row mt-5">
  <div class="col-3">
    <app-add-product></app-add-product>
    <div class="nav flex-column nav-pills mt-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="btn btn-outline-dark text-left" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
         role="tab"
         aria-controls="v-pills-profile" aria-selected="false"><span uk-icon="icon:  list; ratio: 1"
                                                                     class="mr-2"></span> Overview</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        <div>
          <label>Sort by:</label>
            <select (change)="sort()" id="sortID">
              <option>Price</option>
              <option>Title</option>
              <option>Quantity</option>
            </select>
        </div>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col"><button type="button" class="btn btn-outline-secondary" (click)="markAsDeals()">Sale</button></th>
            <th scope="col">Title</th>
            <th scope="col">Tag(s)</th>
            <th scope="col">Format</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Description</th>
            <th scope="col">Action(s)</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of products | async; index as i">
            <th scope="row">
              <label class="col-6 ml-2">
                <input type="checkbox" (change)="checkProduct(product.id)">
              </label>
            </th>
            <td>{{ product.title}}</td>
            <td>
              <p *ngFor="let tag of product.tags; index as j">
                {{ product.tags[j].name}},
              </p>
            </td>

            <td>{{ product.format }}</td>
            <td>{{ product.price | number }}</td>
            <td>{{ product.quantity | number}}</td>
            <td class="productDescription">{{ product.description}}</td>
            <td>
              <app-update-product [description]="product.description" [id]=product.id
                                  [price]="product.price" [quantity]="product.quantity"
                                  [selectedTags]=" product.tags"
                                  [format]="product.format"
                                  [title]="product.title"></app-update-product>

              <app-delete-product [id]=product.id [title]="product.title"
                                  [description]="product.description"></app-delete-product>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
          </ngb-pagination>

          <label>
            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (click)="onSubmit();">
              <option [ngValue]="2">2 items per page</option>
              <option [ngValue]="4">4 items per page</option>
              <option [ngValue]="6">6 items per page</option>
            </select>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
