.badge-warning {
  margin-left: 3px;
  margin-right: 3px;
  background-color: #181E24;
  font-size: 16px;
  color: white;
  font-weight: normal;
}

.marker-color {
  color: #ff7f00;
  font-size: 16px;
  font-weight: bold;
}

.marker-color2 {
  color: #489afb;
  font-size: 16px;
  font-weight: bold;
}

.no-margin {
  margin-bottom: 2px;
  margin-top: 2px;
}

.container {
  font-family: sans-serif, Arial, Verdana;
  max-width: 1400px;
}

#top {
  margin-top: 4em;
}

img {
  height: 8em;
  width: 17em;
  border-radius: 4px;
  object-fit: fill;
}

h2 {
  font-size: 25px;
  margin-bottom: 3px;
}

h5 {
  font-size: 18px;
  margin-top: 2px;
  margin-bottom: 2px;
}

h6 {
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 2px;
}

hr {
  margin-top: 8px;
  margin-bottom: 8px;
}

.review-container {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.review-badge {
  margin: 0;
  padding: 4px 2px 2px 2px;
  font-size: 14px;
}

.stars-margin {
  margin-left: 22%;
}

/* Card design */
.card {
  margin: 1em auto;
  background-color: #FFFFFF;
  width: 18em;
  max-width: 18em;
  height: 30em;
  max-height: 30em;
  // TESTING AND CAN BE CHANGED #181E24
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-bottom: 4px solid #489afb;
}

.desc-text {
  font-size: 15px;
  margin-bottom: 0;
}

.card-price {
  font-size: 2em;
}

.card-price .period {
  font-size: 0.6em;
}

.fa-square-green {
  color: green;
}

.fa-square-yellow {
  color: yellow;
}

.fa-square-red {
  color: red;
}

.stock-font-size {
  font-size: 14px;
  margin-bottom: 1px;
  padding-bottom: 1px;

}

.old-price {
  font-size: 13px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.text-license-list {
  font-size: 12px;
}

.container-license {
  margin-top: 2em;
  background-image: url(../../../../assets/images/randomgbg2.png);
  background-position-y: 35%;
  background-color: #ff7f00;
  object-fit: fill;
  width: 1374px;
  //width: 574px;
  border-bottom: 5px solid steelblue;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #FFFFFF;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.btn-license {
  font-family: sans-serif, Arial, Verdana;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
}

.btn-license:hover {
  background-color: #489afb;
}

.badge-dark {
  // background-color: #ff7f00;
  // color: black;
  font-size: 14px;
  padding: 5px 5px 5px 5px;
}

.sale {
  position: relative;
  display: inline-block;
  background: #489afb;
  color: white;
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
  vertical-align: middle;
  line-height: 2.5rem;
  bottom: 248px;
  left: 235px;
  transform: rotate(-20deg);
  animation: beat 1s ease infinite alternate;

  &:before,
  &:after {
    content: "";
    position: absolute;
    background: inherit;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(30deg);
  }

  &:after {
    transform: rotate(60deg);
  }
}

// For the star
@keyframes beat {
  from {
    transform: rotate(-20deg) scale(1);
  }
  to {
    transform: rotate(-20deg) scale(1.1);
  }
}

.no-space {
  position: relative;
  width: 0;
  height: 0;
}

.no-space2 {
  position: absolute;
}

.second-type-moving{
  bottom: 6px;
  left: 224px;
}

.move-price {
  position: relative;
  bottom: 6px;
  font-size: 22px;
}

.stock-move {
  position: relative;
  top: 4px;
}

.move-sale-price {
  position: relative;
  top: 2px;
}

@media screen and (min-width: 1400px) {
  /* Card design */
  .card {
    margin: 1em auto;
    background-color: #FFFFFF;
    width: 20em;
    max-width: 20em;
    height: 30em;
    max-height: 30em;
    // TESTING AND CAN BE CHANGED #181E24
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 4px solid #489afb;
  }


  .second-type-moving{
    bottom: 6px;
    left: 254px;
  }

  .on-the-move {
    top: 189px;
    left: 195px;
  }

  #buy1 {
    color: #FFFFFF;
  }

  #buy2 {
    color: #FFFFFF;
  }

  .sale {
    position: relative;
    display: inline-block;
    background: #489afb;
    color: white;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5rem;
    bottom: 245px;
    left: 260px;
    transform: rotate(-20deg);
    animation: beat 1s ease infinite alternate;

    &:before,
    &:after {
      content: "";
      position: absolute;
      background: inherit;
      height: inherit;
      width: inherit;
      top: 0;
      left: 0;
      z-index: -1;
      transform: rotate(30deg);
    }

    &:after {
      transform: rotate(60deg);
    }
  }
}

.btn-disabled {
  color: darkgray;
  background-color: #A6A6A6;
  cursor: not-allowed;
  pointer-events: none;
  font-weight: bold;
}

