<ng-template #addLicenseModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add License</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newLicenseForm" (ngSubmit)="addLicense()">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="licenseName">License name</label>
          <input type="text" class="form-control" id="licenseName" placeholder="License name"
                 formControlName="licenseName">
        </div>
        <div class="form-group col-md-6">
          <label for="productQuantity">License Quantity</label>
          <input type="number" class="form-control" id="productQuantity" placeholder="Quantity"
                 formControlName="licenseQuantity">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="licenseFormat">License Format</label>
          <select class="form-control" id="licenseFormat" formControlName="format">
            <option value="" selected disabled hidden>Choose here</option>
            <option *ngFor="let format of formats" [value]="format | json">
              {{format.name}}
            </option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="licenseTag">License Tag</label>
          <select class="form-control" id="licenseTag" formControlName="tag">
            <option value="" selected disabled hidden>Choose here</option>
            <option *ngFor="let tag of tags" [value]="tag | json">
              {{tag.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="licensePrice">License Price</label>
          <input type="number" class="form-control" id="licensePrice" placeholder="Price"
                 formControlName="licensePrice">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="licenseDescription">Product Description</label>
          <input type="text" class="form-control" id="licenseDescription" placeholder="Description"
                 formControlName="licenseDescription">
        </div>
      </div>
      <div class="file">
        <label class="file-label">
          <input type="file" class="file-input" (change)="uploadImage($event)"
                 formControlName="licenseImageUrl">
        </label>
      </div>
      <app-image-upload-template [percentage]="getPercentage()"
                                 [snapshot]="getSnapshot()"
                                 [url]="getImageUrl()"
                                 [task]="getTask()">
      </app-image-upload-template>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
        <button type="submit" class="btn btn-outline-dark">Add</button>
      </div>
    </form>
  </div>
</ng-template>
<div class="nav flex-column nav-pills m-0 p-0 bg-white" id="v-pills-tab" aria-orientation="vertical">
  <a class="btn btn-outline-dark text-left" id="key" role="tab" aria-selected="true" href="#"
     (click)="openCenteredDialog(addLicenseModal)"><span uk-icon="icon:  plus-circle; ratio: 1" class="mr-2"></span>Add
    License
  </a>
</div>
