<div class="msg" id="myDiv">
  <span class="alert">Item added to cart</span>
</div>
<div class="col-sm-12 d-flex justify-content-center" *ngFor="let sale of planSale">
  <div class="row mt-5">
    <h1 class="col-sm-12 text-center">{{sale.name}} {{sale.discount}}%</h1>
    <h3 class="col-sm-12 text-center">{{getDaysLeft(sale.ends)}}</h3>
    <div class="col" id="products" *ngFor="let plan of unpackPlans(sale.saleObjects)">
      <div class="card">
        <!--  IMAGE -->
        <div class="card-top">
          <img src="{{plan.imageUrl}}" alt="Card image cap">
        </div>

        <!--    BODY-->
        <div class="card-body">
          <h5 class="card-title mb-2">{{plan.title}}</h5>
          <p class="card-text">
            {{plan.speed | number}} mb/s
          <p class="card-text">
          <span *ngFor="let license of plan.defaultLicenses">
            {{license}}
          </span></p>
          <p class="card-text">
          <span *ngFor="let license of plan.licenses">
            <h6>{{license.title}}</h6>
          </span></p>
          <p class="card-text ">{{plan.description}}</p>
          <br>
          <span>Sale: {{sale.name}}</span>
          <br>
        </div>
        <!--      FOOTER-->
        <div class="card-footer">
          <p class="price">
            <span class="before">{{plan.price | currency}}</span>
            <span class="after">{{plan.salePrice | currency}}</span>
            <a class="btn btn-sm float-right" id="buy1" (click)="addPlan(plan)">
              Buy
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-12 d-flex justify-content-center mt-5" *ngFor="let sale of licenseSale">
  <div class="row">
    <h1 class="col-sm-12 text-center">{{sale.name}} {{sale.discount}}%</h1>
    <h3 class="col-sm-12 text-center">{{getDaysLeft(sale.ends)}}</h3>
    <div class="col" *ngFor="let license of unpackLicenses(sale.saleObjects)" id="er">
      <div class="card">
        <!--  IMAGE -->
        <div class="card-top">
          <img class="img-fluid" src="{{license.imageUrl}}" alt="Card image cap">
        </div>

        <!--    BODY-->
        <div class="card-body">
          <h5 class="card-title">{{license.title}}</h5>
          <p class="card-text">{{license.tag.name}}</p>
          <p class="card-text">{{license.format.name}}</p>
          <p class="card-text ">{{license.description}}</p>
          <br>
          <span>Sale: {{sale.name}}</span>
          <br>
          <p *ngIf="license.quantity == 0" class="card-stock mb-2"><i class="fa fa-square null"></i> out of stock</p>
          <p *ngIf="license.quantity != 0" class="card-stock mb-2"><i class="fa fa-square"></i> {{license.quantity}} in
            stock</p>
        </div>
        <!--      FOOTER-->
        <div class="card-footer">
          <p class="price">
            <span class="before">{{license.price | currency}}</span>
            <span class="after">{{license.salePrice | currency}}</span>
            <a *ngIf="license.quantity > 0" class="btn btn-sm float-right" id="buy2" (click)="addLicense(license)">
              Buy
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
