<div class="msg" id="myDiv">
  <span class="alert">Item added to cart</span>
</div>
<div class="container-fluid" *ngFor="let sale of planSale" id="top">
  <div class="row d-flex justify-content-center">
    <div class="container-sale pb-2">
      <div class="row">
        <h1 class="col-12 text-center text-white">{{sale.name}} {{sale.discount}}%</h1>
        <h3 class="col-12 text-center text-white">{{getDaysLeft(sale.ends)}}</h3>
      </div>
    </div>
  </div>
  <!--Card one-->
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-6" *ngFor="let plan of unpackPlans(sale.saleObjects)">
        <div class="card card-plan">
          <div class="card-body d-flex flex-column">
            <div class="text-center body-top">
              <img class="plan-img" src="{{plan.imageUrl}}" alt="logo">
              <h2 class="title">{{plan.title}}</h2>
              <p class="text-center text-muted plan-desc mb-0 pb-0">{{plan.description}}</p>
            </div>
            <hr>
            <h5 class="text-center">{{plan.speed | number}} mb/s</h5>
            <h6 class="text-center">Incl. <span class="badge badge-dark">{{plan.defaultLicenses.length}}</span> Licenses</h6>
            <div class="no-space-plan">
              <div class="no-space2-plan">
                <span class="sale-plan pb-2 mb-0 pt-0 mt-0 " *ngIf="plan.salePrice > 0">{{1 - plan.salePrice / plan.price | percent }}</span>
              </div>
            </div>
            <div class="container border-top border-bottom border-muted mb-2">
              <div class="row mt-1">
                <div class="col-4 text-license-list text-center mb-1" *ngFor="let license of plan.defaultLicenses">{{license}}</div>
              </div>
            </div>
            <div class="row mt-auto" *ngIf="plan.salePrice > 0">
              <div class="col-8 move-sale-price-plan">
                <h6 class="old-price-plan text-muted">OLD: {{plan.price | currency}}<br></h6>
                <h6>NOW: <span class="font-weight-bold">{{plan.salePrice | currency}}</span></h6>
              </div>
              <div class="col">
                <a class="btn btn-block btn-outline-dark btn-plan mb-1" role="button" (click)="addPlan(plan)">
                  BUY
                </a>
              </div>
            </div>
            <div class="row mt-auto" *ngIf="plan.salePrice === 0">
              <div class="col-8">
                <h5 class="move-price-plan font-weight-bold">{{plan.salePrice | currency}}</h5>
              </div>
              <div class="col">
                <a class="btn btn-block btn-outline-dark btn-plan mb-1" role="button" (click)="addPlan(plan)">
                  BUY
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" *ngFor="let sale of licenseSale">
  <div class="row d-flex justify-content-center">
    <div class="container-sale pb-2">
      <div class="row">
        <h1 class="col-12 text-center text-white">{{sale.name}} {{sale.discount}}%</h1>
        <h3 class="col-12 text-center text-white">{{getDaysLeft(sale.ends)}}</h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-6" *ngFor="let license of unpackLicenses(sale.saleObjects)">
        <!--    BODY-->
        <div class="card card-license">
          <div class="card-body d-flex flex-column">

            <img class="license-img" src="{{license.imageUrl}}" alt="license image">
            <div class="text-center">
              <h2 class="license">{{license.title}}</h2>
              <h5 class="text-muted license">< {{license.tag.name}} ></h5>
              <h6 class="text-muted license">| {{license.format.name}} |</h6>
            </div>
            <hr>
            <div class="no-space">
              <div class="no-space2">
                <span class="sale-license pb-2 mb-0 pt-0 mt-0 " *ngIf="license.salePrice > 0">{{1 - license.salePrice / license.price | percent }}</span>
              </div>
            </div>
            <div class="no-space">
              <div class="no-space2 second-type-moving">
              <span class="pb-2 mb-0 pt-0 mt-0 ">
              <app-view-included-products [license]="license"></app-view-included-products></span>
              </div>
            </div>
            <p class="text-center text-muted desc-text">{{license.description}}</p>
            <div class="row mt-auto">
              <div class="col-12">
                <h6 class="text-center review-container">Rate this license:</h6>
              </div>
              <div class="col-12 stars-margin">
                <app-star-review (click)="consLog(license.id)" [productId]="licenseId" [userId]="userId"></app-star-review>
              </div>
              <div class="col-12">
                <h6 class="text-white text-center" *ngIf="getObjectRating(license.id) === 0">
                  <span class="badge badge-dark review-badge">No Reviews</span>
                </h6>
                <h6 class="text-white text-center" *ngIf="getObjectRating(license.id) !== 0">
                       <span class="badge badge-dark review-badge">
                         {{getObjectRating(license.id) | number: '1.1-1'}} <i class="fa fa-star fa-star-yellow"></i>
                        </span>
                </h6>
              </div>
              </div>
            </div>
            <div class="container pb-2">
              <div class="row" *ngIf="license.salePrice > 0">
                <div class="col-8 move-sale-price">
                  <h6 *ngIf="license.quantity === 0" class="stock-font-size"><i class="fa fa-square fa-square-red"></i> Out Of Stock<br></h6>
                  <h6 *ngIf="license.quantity  > 0 && license.quantity < 10" class="stock-font-size"><i class="fa fa-square fa-square-yellow"></i> {{license.quantity}} in
                    Stock<br></h6>
                  <h6 *ngIf="license.quantity  >= 10" class="stock-font-size"><i class="fa fa-square fa-square-green"></i> {{license.quantity}} in
                    Stock<br></h6>
                  <h6 class="old-price text-muted">OLD: {{license.price | currency}}<br></h6>
                  <h6>NOW: <span class="font-weight-bold">{{license.salePrice | currency}}</span></h6>
                </div>
                <div class="col">
                  <br>
                  <a *ngIf="license.quantity === 0" class="btn btn-outline-dark disabled font-weight-bold pull-right mb-1" role="button">
                    BUY
                  </a>
                  <a *ngIf="license.quantity > 0" class="btn btn-outline-dark btn-license pull-right mb-1" role="button" (click)="addLicense(license)">
                    BUY
                  </a>
                </div>
              </div>
              <div class="row" *ngIf="license.salePrice === 0">
                <div class="col-8">
                  <h6 *ngIf="license.quantity === 0" class="stock-font-size stock-move"><i class="fa fa-square fa-square-red"></i> out of Stock<br></h6>
                  <h6 *ngIf="license.quantity  > 0 && license.quantity < 10" class="stock-font-size stock-move"><i class="fa fa-square fa-square-yellow"></i> {{license.quantity}} in
                    Stock<br></h6>
                  <h6 *ngIf="license.quantity  >= 10" class="stock-font-size stock-move"><i class="fa fa-square fa-square-green"></i> {{license.quantity}} in
                    Stock<br></h6>
                  <h5 class="move-price font-weight-bold mt-3">{{license.price | currency}}</h5>
                </div>
                <div class="col">
                  <br>
                  <a *ngIf="license.quantity === 0" class="btn btn-outline-dark disabled font-weight-bold pull-right mb-1" role="button">
                  BUY
                </a>
                  <a *ngIf="license.quantity > 0" class="btn btn-outline-dark btn-license pull-right mb-1" role="button" (click)="addLicense(license)">
                    BUY
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
