
.btn-circle {
  border-radius: 15px;
  background-color: transparent;
  border: none;
}

hr {
  border-top: 2px solid;
}

img {
  max-height: 6em;
  max-width: 6em;;
  border-radius: 0.3em;
}

.img-top {
  max-height: 9em;
  max-width: 9em;
}

.item-name {
  display: block;
  float: left;
  padding-top: 10px;
  font-size: 16px;
}

.item-price {
  color: mediumaquamarine;
  margin-right: 8px;
}

.item-quantity {
  color: gray;
}
  
#product-title {
  font-size: 1em;
  font-weight: bold;
}

.badge {
  background-color: #489afb;
  
}

.container {
  margin-top: 6em;
  border: 4px solid #181E24;
  border-radius: 3px;
}

.btn-purchase:active {
  color: #489afb;
  background-color: #489afb;
  border-color: #489afb;
}

.btn-purchase {
  background-color: #489afb;
  border-color: #489afb;
  border-radius: 5px;
  float: right;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
}
.btn-purchase:focus {
  background-color: #1a6ed3;
  border-color: #1a6ed3;
}
.btn-purchase:hover {
  background-color: #1a6ed3;
  border-color: #1a6ed3;
}
.btn-purchase:active {
  background-color: #1a6ed3;
  border-color: #1a6ed3;
}

.btn-disabled {
  color: white;
  background-color: #A6A6A6;
  cursor: not-allowed;
  pointer-events: none;
  font-weight: bold;
}
