
.btn-circle {
  border-radius: 15px;
  background-color: transparent;
  border: none;
}



.btn {
  float: right;
  margin-bottom: 20px;
  color: white;
  background-color: #2d2d30;
  border-radius: 2em;
  box-shadow: 2px 2px 2px 2px #2d2d30;
}

.btn:hover {
  background-color: #6394F8;
}


hr {
  border-top: 2px solid;
}

img {
  max-height: 6em;
  max-width: 6em;;
  border-radius: 0.3em;
}

.img-top {
  max-height: 9em;
  max-width: 9em;
}

.item-name {
  display: block;
  float: left;
  padding-top: 10px;
  font-size: 16px;
}

.item-price {
  color: mediumaquamarine;
  margin-right: 8px;
}

.item-quantity {
  color: gray;
}
  
#product-title {
  font-size: 1em;
  font-weight: bold;
}

.badge {
  background-color: #489afb;
  
}

.fullscreen{
  background-image: url(../../../../../assets/images/bg7.png); // TAKEN WITHOUT CREDIT GIVEN LELELE
  padding-top: 20px;
  padding-bottom: 30px;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  border: 4px solid #181E24;
  border-radius: 3px;
}
