
.btn-circle {
  border-radius: 15px;
  background-color: transparent;
  border: none;
}



.btn {
  float: right;
  margin-bottom: 20px;
  color: white;
  background-color: #2d2d30;
  border-radius: 2em;
  box-shadow: 2px 2px 2px 2px #2d2d30;
}

.btn:hover {
  background-color: #6394F8;
}


hr {
  border-top: 2px solid;
}

img {
  max-height: 6em;
  max-width: 6em;;
  border-radius: 0.3em;
}

.img-top {
  max-height: 9em;
  max-width: 9em;
}

.item-name {
  display: block;
  float: left;
  padding-top: 10px;
  font-size: 16px;
}

.item-price {
  color: mediumaquamarine;
  margin-right: 8px;
}

.item-quantity {
  color: gray;
}
  
#product-title {
  font-size: 1em;
  font-weight: bold;
}
