<ng-template #updateProductModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Product</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="updateProductForm" (ngSubmit)="editProduct()">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="productTitle">Product title</label>
          <input type="text" class="form-control" id="productTitle"
                 formControlName="productTitle" [value]="product.title">
        </div>
        <div class="form-group col-md-6">
          <label for="productTag">Product Tags</label>
          <select class="form-control" id="productTag" formControlName="productTag" (click)="pushTag()">
            <option value="" selected disabled hidden>Choose here</option>
            <option *ngFor="let tag of tags" [value]="tag | json">
              {{tag.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="productPrice">Product Price</label>
          <input type="number" class="form-control" id="productPrice"
                 formControlName="productPrice" [value]="product.price">
        </div>
        <div class="form-group col-md-6">
          <label for="productQuantity">Product Quantity</label>
          <input type="number" class="form-control" id="productQuantity"
                 formControlName="productQuantity" [value]="product.quantity">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="productFormat">Product Format</label>
          <select class="form-control" id="productFormat" formControlName="productFormat">
            <option value="" selected disabled hidden>Choose here</option>
            <option *ngFor="let format of formats" [value]="format | json">
              {{format.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="productDescription">Product Description</label>
          <input type="text" class="form-control" id="productDescription"
                 formControlName="productDescription" [value]="product.description">
        </div>
      </div>
      <div class="file">
        <label class="file-label">
          <input type="file" class="file-input" (change)="uploadImage($event)"
                 formControlName="productImageUrl">
        </label>
      </div>
      <app-image-upload-template [percentage]="getPercentage()"
                                 [snapshot]="getSnapshot()"
                                 [url]="getImageUrl()"
                                 [task]="getTask()">
      </app-image-upload-template>
      <span uk-icon="icon: tag; ratio: 1" class="mr-2"></span>Tags:
      <hr class="mt-2 mb-2 p-0">
      <span class="uk-label uk-label-success mr-2 mb-2 border-danger tag" *ngFor="let selected of selectedTags"
            (click)="popTag(selected)">{{selected.name}}</span>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
        <button type="submit" class="btn btn-outline-dark">Save</button>
      </div>
    </form>
  </div>
</ng-template>

<a class="mr-2" role="button" style="cursor: pointer;" (click)="openCenteredDialog(updateProductModal)">
  <span uk-icon="icon: pencil"></span>
</a>
