<div class="dropdown">
  <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

    <fa-icon [icon]="['fas', 'user-cog']"></fa-icon>

  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Statistics</a>
    <app-quick-add></app-quick-add>
    <a class="dropdown-item" routerLink="productmanagement">Manage products</a>
    <a class="dropdown-item" routerLink="categorymanagement">Manage Categories</a>
  </div>
</div>
