<div class="container">
  <p style="text-align: center">LOL <code>TOPKEK</code> LULZ</p>
  <form ngFormOptions="">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col"><label>
          <input type="checkbox">
        </label></th>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let country of countries">
        <th scope="row"><label>
          <input type="checkbox">
        </label></th>
        <td>
          <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2"
               style="width: 20px">
          {{ country.name }}
        </td>
        <td>{{ country.price | number}}</td>
        <td>{{ country.quantity | number }}</td>
        <td><fa-icon [icon]="['fas', 'edit']" size="lg" class="mr-2"></fa-icon>
          <fa-icon [icon]="['fas', 'trash-alt']" size="lg"></fa-icon>
        </td>
      </tr>
      </tbody>
    </table>
    
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
      </ngb-pagination>

      <label>
        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
          <option [ngValue]="2">2 items per page</option>
          <option [ngValue]="4">4 items per page</option>
          <option [ngValue]="6">6 items per page</option>
        </select>
      </label>
    </div>
  </form>
</div>
