<li (click)="messageService.clear()" class="dropdown nav-item ">
  <a *ngIf="cart" class="nav-link fa fa-28px fa-shopping-cart text-white" id="navbarDropdownMenuLink" role="button"
     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
    class="navbadgeicon">{{cart.numberOfItems}}</span></a>
  <ul class="dropdown-menu dropdown-menu-right scrollable-menu">
    <div class="container">

      <div class="shopping-cart" *ngIf="cart">
        <div class="shopping-cart-header">
          <i class="fa fa-shopping-cart cart-icon text-orange"></i><span class="badge">{{cart.numberOfItems}}</span>
          <div class="shopping-cart-total">
            <span class="lighter-text font-weight-bold">Total: </span>
            <span class="main-color-text">
              <span class="price">{{this.cart.totalPrice | currency}}</span></span>
          </div>
        </div>
        <ul class="shopping-cart-items list-unstyled ">
          <!--            HIDDEN IF NO ITEMS-->
          <li class="clearfix" *ngIf="!cart || (cart.numberOfItems === 0 && !cart.plan)">No items here.</li>
          <li class="clearfix" *ngIf="cart.plan">
            <h6 class="mb-3 font-italic font-weight-bold">Plan: </h6>
            <span><img *ngIf="cart.plan.imageUrl" src="{{cart.plan.imageUrl}}" alt="item1"/></span>
            <span><img *ngIf="!cart.plan.imageUrl || cart.plan.imageUrl == '' " src="{{cart.plan.imageUrl}}"
                       alt="item1"/></span>
            <span class="item-name">{{cart.plan.title}}</span>
            <span class="item-price" *ngIf="cart.plan.salePrice > 0">{{cart.plan.salePrice | currency}}</span><br>
            <span class="item-price" *ngIf="cart.plan.salePrice === 0">{{cart.plan.price | currency}}</span><br>
          </li>
          <h6 class="mt-4 mb-3 font-italic font-weight-bold" *ngIf="cart.licenses.length > 0">Licenses: </h6> <!-- *ngIf to check if cart licenses are 0 then it won't list licenses. Cuz there aint nothing to show. -->
          <li class="clearfix" *ngFor="let license of cart.licenses">

            <span><img *ngIf="license.item.imageUrl" src="{{license.item.imageUrl}}" alt="item1"/></span>
            <span><img *ngIf="!license.item.imageUrl || license.item.imageUrl == '' " src="{{license.item.imageUrl}}"
                       alt="item1"/></span>
            <span class="item-name">{{license.item.title}}</span>
            <span class="item-price" *ngIf="license.item.salePrice > 0">{{license.item.salePrice | currency}}</span><br>
            <span class="item-price" *ngIf="license.item.salePrice === 0">{{license.item.price | currency}}</span><br>
            <span class="item-quantity"> Quantity: {{license.amountOf}}</span>
          </li>
        </ul>
        <button type="button" class="btn btn-register" (click)="goToCart()">Checkout</button>
      </div>
    </div>
  </ul>
</li>

