.fa-28px {
  font-size: 28px;
}

@media (max-width: 500px) {
  .dropdown-menu{
        height:200px;
        overflow-y:auto;
     }
  }

li a {
  color: #d5d5d5 !important;
} li a:hover { 
    color: #fff !important;
  } .navbadgeicon {  // REMOVE THIS TO REMOVE THE BLUE HIGHLIGHTER WITH AMOUNT OF ITEMS IN CART ON NAVBAR-ICON!
        font-family: sans-serif, Arial, Verdana;
        background-color: #489afb;
        border-radius: 12px;
        color: white;
        display: inline-block;
        font-size: 11px;
        line-height: 1;
        padding: 3px 7px;
        text-align: center;
        white-space: nowrap;
        position: absolute;
        top: 2px;
        left: 20px;
      }

.dropdown-menu, h3, h6 {
  top: 45px;
  background-color: #181E24;
  font-family: sans-serif, Arial, Verdana;
  letter-spacing: 0;
  color: #FFFFFF;
}

.dropdown-menu li a {
  color: #000 !important;
}

//// SIDEBAR SETTINGS
.uk-open > .uk-offcanvas-bar {
  top: 7%;
  padding: 0;
  margin: 0;
  width: 18em;
  background-color: rgba(142, 142, 142, 0.7);
}

.uk-offcanvas-bar-animation {
  transition: left 0.1s ease-out;
  position: absolute;
  top: 7%;
  padding: 0;
  margin: 0;
  width: 18em;
  background-color: rgba(142, 142, 142, 0.7);
}

.uk-offcanvas-overlay {
  width: 0;
  touch-action: none;
}

// CART LIST

.badge {
  background-color: #489afb;
  border-radius: 12px;
  color: white;
  display: inline-block;
  font-size: 13px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;

  white-space: nowrap;
  position: absolute;
  top: 12px;
  left: 32px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.shopping-cart {
  float: left;
  width: 320px;
  position: relative;
  border-radius: 3px;
  padding: 20px;


  .shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;

    .shopping-cart-total {
      float: right;
    }

    .price {
     color: springgreen;
    }

  }

  .shopping-cart-items {

    padding-top: 20px;

    li {
      width: 100%;
      margin-bottom: 18px;
    }

    img {
      float: left;
      margin-right: 12px;
      height: 40px;
      width: 75px;
      border: 1px solid darkgray;
      object-fit: fill;
      background-color: white;
    }

    .item-name {
      float: left;
      font-size: 16px;
    }

    .item-price {
      float: right;
      color: springgreen;
      margin-right: 8px;
    }

    .item-quantity {
      float: left;
      color: #FFFFFF;
      font-size: 13px;
    }
  }

  .shopping-cart:after {
    bottom: 100%;
    left: 89%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
  }

  .btn {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }

  .text-orange {
    color: #ff7f00;
    font-size: 35px;
  }
  .btn-register {
    color: #ff7f00;
    border-color: #ff7f00;
    width: 90px;
  }
  .btn-register:focus {
    background-color: #ff7f00;
    border-color: #ff7f00;
  }
  .btn-register:hover {
    color: #FFFFFF;
    background-color: #ff7f00;
    border-color: #ff7f00;
  }
}
