.dropdown-menu, h3, h6 {
  top: 45px;
  background-color: #29292c;
  font-family: Montserrat, sans-serif;
  letter-spacing: 0px;
  color: #dcdcdd;
}

.dropdown-menu li a {
  color: #000 !important;
}

//// SIDEBAR SETTINGS
.uk-open > .uk-offcanvas-bar {
  top: 7%;
  padding: 0;
  margin: 0;
  width: 18em;
  background-color: rgba(142, 142, 142, 0.7);
}

.uk-offcanvas-bar-animation {
  transition: left 0.1s ease-out;
  position: absolute;
  top: 7%;
  padding: 0;
  margin: 0;
  width: 18em;
  background-color: rgba(142, 142, 142, 0.7);
}

.uk-offcanvas-overlay {
  width: 0;
  touch-action: none;
}

// CART LIST

.badge {
  background-color: #6394F8;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.shopping-cart {
  float: left;
  width: 320px;
  position: relative;
  border-radius: 3px;
  padding: 20px;


  .shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;

    .shopping-cart-total {
      float: right;
    }

    .price {
     color: mediumaquamarine;
    }

  }

  .shopping-cart-items {

    padding-top: 20px;

    li {
      width: 100%;
      margin-bottom: 18px;
    }

    img {
      float: left;
      margin-right: 12px;
      max-height: 75px;
      max-width: 75px;
    }

    .item-name {
      float: left;
      font-size: 16px;
    }

    .item-price {
      float: right;
      color: mediumaquamarine;
      margin-right: 8px;
    }

    .item-quantity {
      float: left;
      color: gray;
    }
  }

  .shopping-cart:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
  }

  .btn {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
    background-color: black;
    border-radius: 25px;

  }

  .btn:hover {
    background-color: #6394F8;
  }

  .text {
    color: #dcdcdd;
  }

}
