<li class="dropdown nav-item">
<a uk-icon="icon: cart" class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" role="button"
   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLink="/"></a>
<ul class="dropdown-menu dropdown-menu-right">
  <div class="container">
    <div class="shopping-cart">
      <div class="shopping-cart-header">
        <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">{{user.cart.numberOfItems}}</span>
        <div class="shopping-cart-total">
          <span class="lighter-text">Total:</span>
          <span class="main-color-text">{{user.cart.totalPrice}}</span>
        </div>
      </div> <!--end shopping-cart-header -->

      <ul class="shopping-cart-items pull-left list-unstyled">
        <li class="clearfix" *ngIf="!this.cart || this.cart.numberOfItems == 0">No items here.</li>
        <li class="clearfix" *ngFor="let item of this.cart.items">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item1.jpg" alt="item1" />
          <span class="item-name">{{item.title}}</span>
          <span class="item-price">{{item.price | currency}}</span>
          <span class="item-quantity">Quantity: {{item.quantity}}</span>
        </li>

      </ul>

    </div> <!--end shopping-cart -->
  </div> <!--end container -->
</ul>
</li>
