<div class="container">
  <div class="row">

    <div class="card-columns">
      <div class="card mb-4 mt-3" *ngFor="let plan of salePlans">
        <div class="card-body">
          <img class="card-img-top img-fluid max-width" src="{{plan.imageUrl}}" alt="{{plan.imageUrl}}">
          <h5 class="card-title mt-2">{{plan.title}}</h5>
          <h6>Speed: {{plan.speed}} mb/s</h6>
          <p>Included licenses:</p>
          <div *ngFor="let license of plan.licenses">
            <p>({{license }})</p>
          </div>
          <div class="card-footer">
            <p class="price">{{plan.price | currency}}
              <a class="btn btn-sm float-right" id="buy">
                Buy
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
