.colStyle {
  margin: 10px;
}


.cardStyle {
  margin: 10px;
  width: 338px;
  height: 571.5px;
  max-height: 571.5px;
  max-width: 340px;
  float: left;

}

.button {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 40px;
}

#card {
  width: 80%;
  height: 50%;
}
