<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Tag(s)</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Description</th>
      <th scope="col">Action(s)</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products; index as i">
      <th scope="row">
        <label class="col-0">
          <input type="checkbox" name="checkbox + {{ i + 1}}">
        </label>
      </th>
      <td>{{ product.title}}</td>
      <td>{{ product.category}}</td>
      <td>{{ product.price | number }}</td>
      <td>{{ product.quantity | number}}</td>
      <td class="productDescription">{{ product.description}}</td>
      <td>
        <div class="row">
          <div class="col-1">
            <app-update-product [id]=product.id [title]="product.title"
                                [category]="product.category" [price]="product.price" [quantity]="product.quantity"
                                [description]="product.description"></app-update-product>
          </div>
          <div class="col-2">
            <app-delete-product [id]=product.id [title]="product.title"
                                [description]="product.description"></app-delete-product>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
    </ngb-pagination>

    <label>
      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (click)="onSubmit();">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
      </select>
    </label>
  </div>
</div>
