<div class="row mt-5">
  <div class="col-3">
    <app-add-dotd></app-add-dotd>
    <div class="nav flex-column nav-pills mt-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="btn btn-outline-dark text-left" id="v-pills-dotd-tab" data-toggle="pill" href="#v-pills-dotd"
         role="tab"
         aria-controls="v-pills-profile" aria-selected="false"><span uk-icon="icon:  list; ratio: 1"
                                                                     class="mr-2"></span>Overview</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade" id="v-pills-dotd" role="tabpanel" aria-labelledby="v-pills-dotd-tab">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">
              <label>
                <input type="checkbox" name="checkAll">
              </label>
            </th>
            <th scope="col">Sales name</th>
            <th scope="col">License</th>
            <th scope="col">Format</th>
            <th scope="col">Tag</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let sale of sales | async; index as i">
            <th scope="row">
              <label>
                <input type="checkbox" name="checkbox + {{ i + 1}}">
              </label>
            </th>
            <td>{{ sale.name }}</td>
            <td>{{ sale.licenseRef.name}}</td>
            <td>{{ sale.formatRef.name }}</td>
            <td>{{ sale.tagRef.name }}</td>
            <td>{{ sale.created.toDate() | date: 'yyyy-MM-dd'}}</td>

              <!--<app-update-license [id]=license.id></app-update-license>
              <app-delete-license [id]=license.id [name]=license.name></app-delete-license>-->
          </tr>
          <tr>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
