<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">
        <label>
          <input type="checkbox" name="checkAll">
        </label>
      </th>
      <th scope="col">Tag name</th>
      <th scope="col">Products</th>
      <th scope="col">Created</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tag of tags; index as i">
      <th scope="row">
        <label>
          <input type="checkbox" name="checkbox + {{ i + 1}}">
        </label>
      </th>
      <td>{{ tag.name }}</td>
      <td>{{ tag.products }}</td>
      <td>{{ tag.created.toDate() | date: 'yyyy-MM-dd'}}</td>
      <td>
        <app-update-tag [id]=tag.id [name]="tag.name"></app-update-tag>
        <app-delete-tag [id]=tag.id [name]="tag.name"></app-delete-tag>
      </td>
    </tr>
    <tr>
    </tr>
    </tbody>
  </table>

</div>
