.bg{
  background-image: url(../../../../assets/images/bg7.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 4em; 
}

.transparent{
  background-color: transparent;
}
