<div class="container-fluid mt-5">
  <div class="uk-background-default text-center">
    <h1 class="font-weight-bold">Products</h1>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <app-products></app-products>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <hr>
  <div class="uk-background-default text-center mt-5">
    <h1 class="font-weight-bold">Licenses</h1>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <app-licenses></app-licenses>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <hr>
</div>
