<div class="bg">
  <div class="container-fluid">
    <div class="row mb-5" id="top">
      <div class="col pb-0 text-center">
        <h1>Our Plans</h1>
        <h4>Share what ever when ever</h4>
        <span>Pick the plan that suits your sharing needs.</span>
      </div>
    </div>
    <div class="container ">
      <!--Card one-->
      <div class="row">
        <div class="col-lg-3 col-md-6" *ngFor="let plan of plans">
          <div class="card">
            <div class="card-body">
              <div class="text-center body-top">
                <img src="{{plan.imageUrl}}" alt="logo" class="img-fluid text-center w-50 mt-2">
                <h3>{{plan.title}}</h3>
              </div>
              <hr>
              <div class="body-middle">
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Level: {{plan.level.name}}</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Speed: {{plan.speed | number}} mb/s</li>
                </ul>
                <h5>Includes:</h5>
                <p class="text-center p-2">
            <span *ngFor="let license of plan.defaultLicenses">
                {{license}}
            </span>
                </p>
              </div>
              <div class="body-desc">
                <p class="text-center">{{plan.description}}</p>
              </div>
              <div class="text-center" *ngIf="plan.salePrice > 0">
                <span class="before">{{plan.price | currency}}</span>
                <span class="after">{{plan.salePrice | currency}}</span>
              </div>
              <div *ngIf="plan.salePrice === 0">
                <h6 class="card-price text-center">{{plan.price | currency}}<span class="period">/month</span></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

