.bg{
  background-image: url(../../../../assets/images/bg7.png);
  min-height: 100vh;
}

#top {
  margin-top: 4em;
}

.container {
  font-family: sans-serif, Arial, Verdana;
  max-width: 1400px;
}
img {
  height: 10em;
  width: 20em;
  border-radius: 4px;
  object-fit: fill;
}

/* Card design */
.card {
  margin: 1em auto;
  background-color: #FFFFFF;
  width: 19em;
  max-width: 19em;
  height: 34em;
  max-height: 35em;
  // TESTING AND CAN BE CHANGED #181E24
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-bottom: 4px solid #ff7f00;
}

.card-price {
  font-size: 2em;
}

.card-price .period {
  font-size: 0.6em;
}


////// NEW ADDED SCSS! 29/05-2019
.old-price {
  font-size: 13px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.text-license-list {
  font-size: 12px;
}

.container-plan {
  margin-top: 2em;
  background-image: url(../../../../assets/images/randomgbg2.png);
  background-position-y:35%;
  background-color: #ff7f00;
  object-fit: fill;
  width:1374px;
  //width: 574px;
  border-bottom: 5px solid #ff7f00;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #FFFFFF;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.btn-plan{
  font-family: sans-serif, Arial, Verdana;
  font-weight: bold;
  color: #FFFFFF;
  text-align:center;
  transition: all 0.2s;
}

.btn-plan:hover{
  background-color: #ff7f00;
}

.badge-dark {
  // background-color: #ff7f00;
 // color: black;
  font-size: 14px;
  padding: 2px 4px 2px 3.5px;
}

.sale {
  position: relative;
  display: inline-block;
  background: #ff7f00;
  color: white;
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
  vertical-align: middle;
  line-height: 2.5rem;
  bottom: 380px;
  left: 230px;
  transform: rotate(-20deg);
  animation: beat 1s ease infinite alternate;
  &:before,
  &:after {
    content:"";
    position: absolute;
    background: inherit;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(30deg);
  }
  &:after {
    transform: rotate(60deg);
  }
}
// For the star

@keyframes beat {
  from {	transform: rotate(-20deg) scale(1); }
  to {	transform: rotate(-20deg) scale(1.1); }
}

.no-space {
  position: relative;
  width: 0;
  height: 0;
}.no-space2 {
  position: absolute;
 }

 .move-price {
   position: relative;
   top: 4px;
 }

 .move-sale-price {
   position: relative;
   top: 2px;
 }

@media screen and (min-width: 1400px){
  /* Card design */
  .card {
    margin: 1em auto;
    background-color: #FFFFFF;
    width: 20em;
    max-width: 20em;
    height: 34em;
    max-height: 35em;
    // TESTING AND CAN BE CHANGED #181E24
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 4px solid #ff7f00;
  }

  .sale {
    position: relative;
    display: inline-block;
    background: #ff7f00;
    color: white;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5rem;
    bottom: 380px;
    left: 260px;
    transform: rotate(-20deg);
    animation: beat 1s ease infinite alternate;
    &:before,
    &:after {
      content:"";
      position: absolute;
      background: inherit;
      height: inherit;
      width: inherit;
      top: 0;
      left: 0;
      z-index: -1;
      transform: rotate(30deg);
    }
    &:after {
      transform: rotate(60deg);
    }
  }
}
@media screen and (min-width: 1198px) and (max-width: 1255px){
  .card {
    margin: 1em auto;
    background-color: #FFFFFF;
    width: 18em;
    max-width: 18em;
    height: 33em;
    max-height: 33em;
    // TESTING AND CAN BE CHANGED #181E24
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 4px solid #ff7f00;
  }
  .text-license-list{
    font-size: 11px;
  }
  p {
    font-size: 14px;
  }

  .sale {
    position: relative;
    display: inline-block;
    background: #ff7f00;
    color: white;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5rem;
    bottom: 375px;
    left: 220px;
    transform: rotate(-20deg);
    animation: beat 1s ease infinite alternate;
    &:before,
    &:after {
      content:"";
      position: absolute;
      background: inherit;
      height: inherit;
      width: inherit;
      top: 0;
      left: 0;
      z-index: -1;
      transform: rotate(30deg);
    }
    &:after {
      transform: rotate(60deg);
    }
  }
}
