<header id="top">
  <h2 id="licenseHeading">Our plans</h2>
  <div class="container top">
    <div class="row">
      <div class="col-lg">
        <h4>Premium</h4>
        <ul>
          <li>PayToShare big plan</li>
          <li>All formats and tags</li>
          <li>All content on PayToShare</li>
          <li>Speed: 200 mb/s</li>
        </ul>
      </div>
      <div class="col-lg">
        <h4>Big</h4>
        <ul>
          <li>PayToShare exclusive Cap</li>
          <li>All content from 3 different formats/tags</li>
          <li>Speed: 200 mb/s</li>
        </ul>
      </div>
      <div class="col-lg">
        <h4>Bas+</h4>
        <ul>
          <li>PayToShare bas plan</li>
          <li>All content from 2 different formats/tags</li>
          <li>PayToShare pin and cupholder</li>
          <li>Speed: 150 mb/s</li>
        </ul>
      </div>
      <div class="col-lg">
        <h4>Bas</h4>
        <ul>
          <li>PayToShare cupholder</li>
          <li>All content from on format/tag</li>
          <li>Speed: 100 mb/s</li>
        </ul>
      </div>
    </div>
    <div class="text-center">
      <button class="btn mt-2 mb-3" routerLink="/weeklydeals">Read more about our plans</button>
    </div>
  </div>
</header>
<app-weeklydeals></app-weeklydeals>