.getkey{
  position: relative;
  border-radius: 15px;
  text-align: center;
  margin-top: 10em;
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: bold;
}

#proof {
  color: #9c0001;
}

h2 {
  font-size: 2em;
  color: #235b67
}

.fullscreen{
  background-image: url(../../../../assets/images/ordercomplete.jpg); // TAKEN WITHOUT CREDIT GIVEN LELELE
  background-position: center;
  padding-bottom: 30px;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

