<div class="fullscreen">
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 getkey">
        <h2>Your activation key is ready for you.</h2>
        <p>Click the button below to retrieve it.</p>
        <p>
          <button type="button" id="btn" (click)="reveal()" class="btn btn-success">Activation key</button>
        </p>
        <p id="proof">This key is your proof of license. Save it in a secure location.</p>
        <p>Thanks for your purchase!</p>
        <hr/>
        <p>Stay awesome!<br/> <strong>PayToShare team</strong></p>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</div>
