<div class="container-fluid">

  <div style="background-color: #f8f8f8;">
    <h2 style="color: #2e6c80; text-align: center;">Your activation key is ready for you.</h2>
    <p style="text-align: center;">Click the button below to retrieve it.</p>
    <p style="text-align: center;">
      <button type="button" id="btn" (click)="reveal()" class="btn btn-success">Activation key</button>
    </p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">Thanks for your purchase!</p>
    <p style="text-align: center;"><span style="color: #999999;"><em>You cannot reply to this email. If you have any questions please contact customer support.</em></span></p>
    <p style="text-align: center;">&nbsp;</p>
    <hr />
    <p style="text-align: center;">Stay awesome!<br /> <strong>PayToShare team</strong></p>
  </div>
</div>
