video {
  margin-top: 8px;
  width: 8em;
  height: 5em;
  object-fit: contain;
}

.card-img-top {
  width: 8em;
  height: 4em;
  object-fit: fill;
}

.modal-container {
  min-width: 140%;;
  max-height: 60em;
}

.modal-body {
  max-width: 110em;
  max-height: 58em;
}

.card-modal {
  margin: 1em auto;
  background-color: #FFFFFF;
  width: 11em;
  max-width: 11em;
  height: 11em;
  max-height: 11em;
  // TESTING AND CAN BE CHANGED #181E24
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-bottom: 4px solid red;
}

.card-modal-tile {
  font-size: 20px;
}

.card-modal-subtitle {
  font-size: 16px;
}

.card-modal-para {
  font-size: 14px;
}

.fa-info-circle {
  font-size: 26px;
}

