<!-- HIDDEN ADMIN PANEL-->


<!--MAIN NAVBAR, COLLAPSEABLE-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="header">

  <div class="container">
  <!--  BRAND ICON -->
  <a class="navbar-brand" routerLink='/'><img src="assets/images/p2seu.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!--  MAIN NAVBAR COLLAPASABLE-->
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a  (click)="messageService.clear()" class="nav-link" routerLink="/plan">Plans</a>
      </li>
      <li class="nav-item">
        <a  (click)="messageService.clear()" class="nav-link" routerLink="/licenses">Licenses</a>
      </li>
      <li class="nav-item">
        <a (click)="messageService.clear()" class="nav-link" routerLink="/collection">Collection<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a  (click)="messageService.clear()" class="nav-link" routerLink="/sales">Sales</a>
      </li>
    </ul>


    <!--    SEARCH BAR- CENTERED -->
    <app-searchbar></app-searchbar>

    <div class="ml-auto">
      <ul class="navbar-nav">

        <!--        ADMIN ITEM-->
        <li class="nav-item mr-2" *ngIf="isLoggedIn && isAdmin">
          <a (click)="messageService.clear()" class="nav-link fa fa-28px fa-gears" routerLink="/dashboard"></a>
        </li>
        <!--        CART ITEM-->
        <li class="nav-item">


          <!--        LOGIN DROPDOWN-->
        <li *ngIf="!isLoggedIn">
          <a class="btn btn-register nav-link" role="button" routerLink="/register">Register</a>
        </li>

        <li class="nav-item dropdown" *ngIf="!isLoggedIn">
          <a class="ml-1 btn btn-login nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="messageService.clear()">
            Login
          </a>
          <div class="dropdown-menu dropdown-menu-lg-right dropdown-menu-xl-left border border-secondary">  <!-- FIX THIS IF DOESNT WORK TOMORROW! -->
            <form class="px-4 py-3" [formGroup]="profileForm" (ngSubmit)="onSubmit()" id="login">
              <h3>Sign in</h3>
              <app-message></app-message>
              <div class="form-group mt-2">
                <label class="sr-only" for="exampleDropdownFormEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleDropdownFormEmail1"
                       placeholder="email@example.com"
                       formControlName="email">
              </div>
              <div class="form-group">
                <label class="sr-only" for="exampleInputPassword2">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password"
                       formControlName="password">
              </div>
              <p class="mb-2"><a id="forgot-password" routerLink="/recover">Forgot password?</a></p>
              <button type="submit" class="btn btn-block btn-primary" (click)="messageService.clear()">Login</button>
              <div class="form-check mt-1">
                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                <label class="form-check-label" for="dropdownCheck">
                  Remember me
                </label>
              </div>
              <div class="row mt-2">
                <div class="col-12"><h6>OR</h6></div>
              </div>
              <div class="row">
                <div class="col-12">
                  <button type="button" class="loginBtn loginBtn--google" (click)="loginWithGoogle()"> Google</button>
                  <button type="button" class="loginBtn loginBtn--facebook" (click)="loginWithFacebook()"> Facebook
                  </button>
                </div>
              </div>
            </form>
          </div>
        </li>

        <!--        USER DROPDOWN-->
        <li class="nav-item dropdown mr-2" *ngIf="isLoggedIn">
          <a class="nav-link fa fa-28px fa-user" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </a>
          <!--          ADMIN PANEL LINK-->
          <div class="dropdown-menu border border-secondary mr-2" id="dropdown">
            <a (click)="messageService.clear()" class="nav-link" routerLink="/profile"><i class="fa fa-lg fa-id-badge mr-3"></i>Profile</a>
            <a class="nav-link" routerLink="/" (click)="onLogoutClick()"><i class="fa fa-lg fa-power-off mr-3"></i>Logout</a>
          </div>
        <li class="nav-item">
          <app-cartdropdown *ngIf="isLoggedIn" ></app-cartdropdown>
        </li>
      </ul>
    </div>
  </div>
  </div>
</nav>

