$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 800px,
  lg: 1000px,
  xl: 1850px
);
@import "../../../../../node_modules/bootstrap/scss/bootstrap";


.navbar {
  z-index: 5;
}


.form-group {
  width: 255px;
  height: 50px;
  margin: 0;
}

#forgot-password {
  padding-top: 0;
  padding-left: 0;
}
#forgot-password2 {
  padding-top: 0;
  padding-left: 0;
}

.form-group {
  min-width: 250px;
  overflow:hidden;
}

// h6 - heading with lines on the side!
h6 {
  overflow: hidden;
  text-align: center;
}
h6:before,
h6:after {
  background-color: #dcdcdd;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
h6:before {
  right: 1em;
  margin-left: -50%;
}
h6:after {
  left: 1em;
  margin-right: -50%;

}

p {
  margin-top: -10px;
}


// CSS FOR GOOGLE FACEBOOK
/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  min-width: 49%;
  margin: 1px;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 14px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background-image: linear-gradient(#f44b37, #aa4433);
}

p {
  margin-top: -10px;
}

img {
  height: 1.90em;
  width: auto;
}


.navbar.navbar-expand-lg.navbar-light li a {
  color: white;
}

.navbar-nav li.active a {
  color: #fff !important;
  background-color: #29292c !important;
}

// ADMIN PANEL OPTIONS ///////////

#adminpanel{
  font-family: sans-serif, Arial, Verdana;
  font-weight: bold;
  color:white !important;
  background-color: #0D191F;
  font-size: 18px !important;
  opacity: 0.9;
  padding: 0;
}


#adminpanel li a {
  color: white;
}
#adminpanel li.active a {
  color: #fff !important;
  background-color: #29292c !important;
}

#adminpanel li a, .navbar .navbar-brand {
  color: #d5d5d5 !important;
}
#adminpanel li a:hover {
  color: #fff !important;
}
#adminpanel li.active a {
  color: #fff !important;
  background-color: #29292c !important;
}

//////////////////////////////

.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */

.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc; 
}

.btn-default{  
 background: white; 
 border-top-left-radius: 0;
 border-bottom-left-radius: 0;
 border-color:#cccccc;
}

////////////////

.navbar {
  margin-bottom: 0;
  background-color: #181E24;
  border: 0;
  font-size: 18px;
  opacity: 0.9;
  font-family: sans-serif, Arial, Verdana;
}
.container {
  max-width: 1400px;
}

.navbar li a, .navbar .navbar-brand {
  color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
  color: #fff !important;
}
.navbar-nav li.active a {
  color: #fff !important;
  background-color: #181E24 !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.open .dropdown-toggle {
  color: #fff;
  background-color: #181E24 !important;
}

.dropdown-menu, h3, h6{
  top: 45px;
  background-color: #181E24;
  font-family: sans-serif, Arial, Verdana;
  letter-spacing: 0;
  color: #dcdcdd;
}

.dropdown-menu li a {
  color: #000 !important;
}

//// SIDEBAR SETTINGS
.uk-open>.uk-offcanvas-bar {
  top: 7%;
  padding: 0;
  margin: 0;
  width: 18em;
  background-color: rgba(142, 142, 142, 0.7);
}

.uk-offcanvas-bar-animation {
  transition: left 0.1s ease-out;
  position: absolute;
  top: 7%;
  padding: 0;
  margin: 0;
  width: 18em;
  background-color: rgba(142, 142, 142, 0.7);
}
.uk-offcanvas-overlay {
  width: 0;
  touch-action: none;
}

.btn-register {

  border-color: #ff7f00;
  width: 90px;
}
.btn-register:focus {
  background-color: #ff7f00;
  border-color: #ff7f00;
}
.btn-register:hover {
  background-color: #ff7f00;
  border-color: #ff7f00;
}


.btn-login:active {
  color: #489afb;
  background-color: #489afb;
  border-color: #489afb;
  width: 80px;
}

.btn-login {
  background-color: #489afb;
  border-color: #489afb;
}
.btn-login:focus {
  background-color: #1a6ed3;
  border-color: #1a6ed3;
}
.btn-login:hover {
  background-color: #1a6ed3;
  border-color: #1a6ed3;
}
.btn-login:active {
  background-color: #1a6ed3;
  border-color: #1a6ed3;
}

.fa-28px {
  font-size: 28px;
}






