<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/index">PayToShare</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/weeklydeals">Deal of the week</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">

        <a class="nav-link" routerLink="/mypage" style="background-color: red;">My page</a>
      </li>

    </ul>
  </div>
  <div class="ml-auto">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/pricing">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/features">Features</a>

      <li class="nav-item dropdown" *ngIf="!isLoggedIn">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Login
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <form class="px-4 py-3" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <h3>Sign in</h3>
            <div class="form-group">
              <label for="exampleDropdownFormEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com" formControlName="email">
            </div>
            <div class="form-group mb-2">
              <label for="exampleDropdownFormPassword1">Password</label>
              <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password" formControlName="password">
            </div>
            <p class="mb-2"><a  id="forgot-password" routerLink="/passwordrecovery">Forgot password?</a></p>
            <div class="form-check mb-2">
              <input type="checkbox" class="form-check-input" id="dropdownCheck">
              <label class="form-check-label" for="dropdownCheck">
                Remember me
              </label>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
            <button class="btn btn-outline-primary ml-1" routerLink="/register">Sign up</button>

          </form>
          <!-- Have to fix PROPER login to facebook/google buttons -->
          <button type="button" class="btn btn-lg" (click)="glogin()" ><img src="../../../../assets/images/btngsignin.png" style="background-size:100%" alt="Test"> </button>
          <button type="button" class="btn btn-lg" (click)="fblogin()"><img src="../../../../assets/images/facebooklogin1.png" style="background-size:100%" alt="Test"></button>
          </div>

      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/home" (click)="onLogoutClick()">Logout</a>
    </ul>

  </div>
</nav>
