<div class="col-9">
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-tags" role="tabpanel" aria-labelledby="v-pills-tags-tab">
      <app-message></app-message>
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="table-title" (click)="orderDate()" scope="col">Date</th>
          <th class="table-title-disabled" scope="col">Order number</th>
          <th class="table-title" (click)="orderProducts()" scope="col">Products</th>
          <th class="table-title" (click)="orderPrice()" scope="col">Price</th>
          <th class="table-title-disabled" scope="col">Action</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let order of orders; index as i">
          <td>{{ order.created.toDate() | date }}</td>
          <td>{{order.id}}</td>
          <td>
            {{order.cart.numberOfItems}}
            <span *ngIf="order.cart.plan">(+ plan)</span>
          </td>
          <td>{{order.cart.totalPrice | currency}}</td>
          <td class="order-link"><a (click)="viewOrder(order.id)">See</a>
        </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
