img {
    float: left;
    margin-right: 12px;
    max-height: 75px;
    max-width: 75px;
  }

  #outer{
    margin-top: 100px;
    width: 100%;
    align-items: center;
    border-style: solid;
  }

  .pricing{
    text-align: right;
  }