.fullscreen{
  background-image: url(../../../../../assets/images/bg7changed.png); // TAKEN WITHOUT CREDIT GIVEN LELELE
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top: 20px;
  padding-bottom: 30px;
  height: 300vh;
  background-color: #0D191F;
}

.container {
  margin-top: 100px;
  min-height: 600px;
  border: 4px solid #181E24;
  border-radius: 3px;
  padding: 20px;
}

.nav a {
  text-align: left;
}

.col-3 {
  margin-top: 50px;
  height: fit-content;
}

.col-9 {
  margin-top: 50px;
  height: fit-content;
}


.col-5 {
  margin-top: 30px;
  height: fit-content;
}
