<div class="fullscreen">
<div class="container bg-white">
  <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">

    <!--PLAN MANAGEMENT-->
    <li class="nav-item">
      <a class="nav-link text-secondary" id="plans-tab" data-toggle="tab" href="#plans" role="tab"
         aria-controls="contact" aria-selected="false" (click)="messageService.clear()">Plans</a>
    </li>

    <!--LICENSE MANAGEMENT-->
    <li class="nav-item">
      <a class="nav-link text-secondary" id="licenses-tab" data-toggle="tab" href="#licenses" role="tab"
         aria-controls="contact" aria-selected="false" (click)="messageService.clear()">Licenses</a>
    </li>

    <!--PRODUCT MANAGEMENT-->
    <li class="nav-item">
      <a class="nav-link text-secondary active" id="products-tab" data-toggle="tab" href="#products" role="tab"
         aria-controls="home" aria-selected="false" (click)="messageService.clear()">Products</a>
    </li>

    <!--FORMAT MANAGEMENT-->
    <li class="nav-item">
      <a class="nav-link text-secondary" id="formats-tab" data-toggle="tab" href="#formats" role="tab"
         aria-controls="contact" aria-selected="false" (click)="messageService.clear()">Formats</a>
    </li>

    <!--TAG MANAGEMENT-->
    <li class="nav-item">
      <a class="nav-link text-secondary" id="tags-tab" data-toggle="tab" href="#tags" role="tab"
         aria-controls="profile" aria-selected="false" (click)="messageService.clear()">Tags</a>
    </li>

     <!--DOTD MANAGEMENT-->
     <li class="nav-item">
      <a class="nav-link text-secondary" id="sales-tab" data-toggle="tab" href="#sales" role="tab"
         aria-controls="contact" aria-selected="false" (click)="messageService.clear()">Sales</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">

    <!--PLANS MANAGEMENT-->
    <div class="tab-pane fade" id="plans" role="tabpanel" aria-labelledby="plans-tab">
      <app-plan-builder></app-plan-builder>
    </div>

    <!--LICENSE MANAGEMENT-->
    <div class="tab-pane fade" id="licenses" role="tabpanel" aria-labelledby="licenses-tab">
      <app-license-overview></app-license-overview>
    </div>


    <!--FORMAT MANAGEMENT-->
    <div class="tab-pane fade" id="formats" role="tabpanel" aria-labelledby="formats-tab">
      <app-format-overview></app-format-overview>
    </div>

    <!--PRODUCT MANAGEMENT-->
    <div class="tab-pane fade show active" id="products" role="tabpanel" aria-labelledby="products-tab">
      <app-product-overview></app-product-overview>
    </div>

    <!--TAG MANAGEMENT-->
    <div class="tab-pane fade" id="tags" role="tabpanel" aria-labelledby="tags-tab">
      <app-tag-overview></app-tag-overview>
    </div>

     <!--DOTD MANAGEMENT-->
     <div class="tab-pane fade" id="sales" role="tabpanel" aria-labelledby="sales-tab">
       <app-sale-overview></app-sale-overview>
    </div>

  </div>
</div>
</div>
