<div class="col-9">
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-tags" role="tabpanel" aria-labelledby="v-pills-tags-tab">
      <app-message></app-message>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Order number</th>
          <th scope="col">Product(s)</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
        </tr>
        </thead>

        <tbody>
          <!--INSERT CODEEEEEEE TO GET THEM ORDERS-->

          <tr *ngFor="let item of this.cart.items">
            <td>{{item.product.title}}</td>
            <td>{{item.product.title}}</td>
            <td>{{item.product.title}}</td>
            <td>{{item.amountOf}}</td>
            <td>{{item.product.price | currency}}</td>
          </tr>



<!--           <li class="clearfix" *ngFor="let item of this.cart.items">

            <span><img *ngIf="item.product.imageUrl" src="{{item.product.imageUrl}}" alt="item1"/></span>
            <span><img *ngIf="!item.product.imageUrl || item.product.imageUrl == '' " src="{{item.product.imageUrl}}" alt="item1"/></span>
            <span class="item-name">{{item.product.title}}</span>          
            <span class="item-quantity">Quantity: {{item.amountOf}}</span>            
            <span class="item-price">{{item.product.price | currency}}</span> 

          </li> -->

        <tr>
        </tr>
        </tbody>
        
      </table>
      <button type="submit"  class="btn btn-primary">Order</button>
    </div>
  </div>
  </div>