#page-container {
  position: relative;
  min-height: 100vh;
  background: white;
}

body {
  overflow-y: scroll;
}
#content-wrap {
  padding-bottom: 3.5em;    /* Footer height */
}


/* You can pushTag global styles to this file, and also import other style files */

