#page-container {
  position: relative;
  min-height: 100vh;
  background-color: white;
}

body {
  overflow-y: scroll;

  font-family: sans-serif, Arial, Verdana;
  .container {
    max-width: 1400px;
  }
}
#content-wrap {
  padding-bottom: 3em;    /* Footer height */
  font-family: sans-serif, Arial, Verdana;
}

/* You can pushTag global styles to this file, and also import other style files */

