<div class="container" *ngIf="currentUser">
  <ul>
    <li><code>ID:</code> {{currentUser.id}}</li>
    <li><code>Rank:</code> {{currentUser.rank}}</li>
    <li><code>Email:</code> {{currentUser.email}}</li>
    <li><code>FirstName:</code> {{currentUser.firstName}}</li>
    <li><code>LastName:</code> {{currentUser.lastName}}</li>
    <li><code>Sex:</code> {{currentUser.sex}}</li>
    <li><code>Address:</code> {{currentUser.address}}</li>
    <li><code>City:</code> {{currentUser.city}}</li>
    <li><code>Phone:</code> {{currentUser.phone}}</li>
    <li><code>LoggedIn:</code> {{currentUser.loggedIn}}</li>
    <li><code>LastLogin:</code> {{currentUser.lastLogin.toDate() | date: 'dd/MM/yyyy'}}</li>
    <li><code>SessionId:</code> {{currentUser.sessionID}}</li>
  </ul>
</div>
