#outer{
  margin-top: 100px;
  width: 100%;
  align-items: center;
  border-style: solid;
}
#inner{
  width: 60%;
  display: block;
  margin-top: 50px;
  border-style: solid;
  background-color: rgba(45,45,45,0.2);
}

.name{
  display: inline-block;
}

#mypage {
  width: 100px;
  height: 100px;
}
