
#outer{
  margin-top: 100px;
  width: 100%;
  align-items: center;
  border-style: solid;
}
#inner{
  width: 60%;
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
  border-style: solid;
  background-color: #f8f9fa!important;

}

.name{
  display: inline-block;
}

#mypage {
  width: 10%;
  height: 10%;
}

.btn-primary{
  margin-bottom: 3%;
}
