<!--
** TO-DO **
- Align content center...
-->
<div class="fullscreen">
<div class="container">
  <div class="row"> <!-- ROW AND 3-COLS are a test, can be removed safely.-->
    <div class="col-2">
    </div> <!-- First COL -->
    <div class="col">
      <div class="card bg-light">
        <article class="card-body mx-auto my-auto" style="max-width: 400px;">
          <h4 class="card-title mt-3 text-center">Create Account</h4>
          <p class="text-center">Get started with your free account</p>
          <hr>
          <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
              </div>
              <label for="firstName-field"></label><input id="firstName-field" class="form-control"
                                                          placeholder="First name" type="text"
                                                          formControlName="firstname">
              <label for="lastName-field"></label><input id="lastName-field" class="form-control"
                                                         placeholder="Last name" type="text"
                                                         formControlName="lastname">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
              </div>

              <label for="email-field"></label>
              <input id="email-field" name="email-field" class="form-control" placeholder="Email address" type="email"
                     formControlName="email">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
              </div>
              <label for="countryCode-field"></label><select id="countryCode-field" class="custom-select"
                                                             style="max-width: 80px;">
              <option selected="">+46</option>
              <option value="1">+47</option>
              <option value="2">+48</option>
              <option value="3">+45</option>
            </select>
              <label for="phoneNumber-field"></label><input id="phoneNumber-field" class="form-control"
                                                            placeholder="Phone number" formControlName="phone">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
              </div>
              <label for="password-field"></label><input id="password-field" class="form-control"
                                                         placeholder="Create password" type="password"
                                                         formControlName="password">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
              </div>
              <label for="passwordAgain-field"></label><input id="passwordAgain-field" class="form-control"
                                                              placeholder="Repeat password" type="password"
                                                              formControlName="passwordRepeated">
            </div> <!-- form-group// -->
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Create Account</button>
            </div> <!-- form-group// -->
            <hr>
            <p class="text-center sign-text">You can also login with Google or Facebook!</p>
            <div class="row mb-2">
              <div class="col-12">
                <button type="button" class="loginBtn loginBtn--google" (click)="loginWithGoogle()"> Google</button>
                <button type="button" class="loginBtn loginBtn--facebook" (click)="loginWithFacebook()"> Facebook
                </button>
              </div>
            </div>
            <!-- Look to see if we want to keep or not! -->
          </form>
        </article>
      </div> <!-- card.// -->
    </div> <!-- Second COL -->
    <div class="col-3">
    </div>
  </div> <!-- Row.// -->
</div> <!-- Container.// -->
</div>
