.fullscreen{
  background-image: url(../../../../assets/images/bg7.png); // TAKEN WITHOUT CREDIT GIVEN LELELE // LUL BENI HAVE U NO SHAME? // STOFFE
  padding-top: 20px;
  padding-bottom: 30px;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  margin-top: 120px;
  margin-left: 18%;
}

.card {
  width: 800px;
}

/*form {
  margin: 100px 100px;
}*/
/*

.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}
*/
