#outer{
    margin-top: 100px;
    width: 100%;
    align-items: center;
    border-style: solid;
  }
  #inner{
    width: 60%;
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
    border-style: solid;
    background-color: #f8f9fa!important;
  
  }
  
  .name{
    display: inline-block;
  }
  
  #mypage {
    width: 10%;
    height: 10%;
  }

.btn-update:active {
  color: #489afb;
  background-color: #489afb;
  border-color: #489afb;
}

.btn-update {
  background-color: #489afb;
  border-color: #489afb;
  color: white;
  font-weight: bold;
  margin-bottom: 6px;
}
.btn-update:focus {
  background-color: #1a6ed3;
  border-color: #1a6ed3;
}
.btn-update:hover {
  background-color: #1a6ed3;
  border-color: #1a6ed3;
}
.btn-update:active {
  background-color: #1a6ed3;
  border-color: #1a6ed3;
}
.btn-update:disabled {
  background-color: gray;
  border-color: darkgray;
}
