.container {
  font-family: sans-serif, Arial, Verdana;
  max-width: 1400px;
}

#top {
  margin-top: 4em;
}
.container-prod-row {
  max-width: 1100px;
}
.card-body {
  padding-top: 0;
}
img {
  margin: 1em 2px 0;
  border: 1px solid dimgrey;
  height: 8em;
  width: 14em;
  border-radius: 4px;
  object-fit: contain;
  opacity: 0.8;
}
hr {
  margin-top: 10px;
  margin-bottom: 5px;
}
h2 {
  font-size: 21px;
  margin: 2px;
} h5 {
  font-size: 15px;
  margin: 2px;
  } h6 {
    font-size: 12px;
        margin: 3px;
      } p {
        font-size: 13px;
              }
/* Card design */

//// MODAL STUFF
video {
  margin: 1em 2px 0;
  border: 1px solid dimgrey;
  height: 8em;
  width: 14em;
  border-radius: 4px;
  object-fit: fill;
  opacity: 0.8;

}
img.modalImg, video.modalImg{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  max-height: 40em;
  object-fit: contain;
}
img:hover, video:hover{
  opacity: 1.0;
  cursor: pointer;
}
//// MODAL STUFF

#close {
  position: absolute;
  top: 5px;
  right: 20px;
  color: #f81913;
  font-size: 65px;
  transition: 0.1s;
  text-decoration: none;
}

#close:hover,
#close:focus {
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
}

#caption{
  margin: 0 auto;
  left: 50%;
  text-align: center;
  font-weight: bold;
  color: #212529;
  padding: 10px 0;
  background-color: #e4e1e1;
  width: 100%;
}

.modalImg{
  opacity: 1;
  cursor: default;
}

.card {
  margin: 1em auto;
  background-color: #FFFFFF;
  width: 16em;
  max-width: 16em;
  height: 19em;
  max-height: 19em;
  // TESTING AND CAN BE CHANGED #181E24
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-bottom: 4px solid #181E24;
}

.container-product {
  margin-top: 2em;
  background-image: url(../../../../assets/images/randomgbg2.png);
  background-position-y: 35%;
  background-color: #ff7f00;
  object-fit: fill;
  width: 1374px;
  //width: 574px;
  border-bottom: 5px solid #181E24;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media screen and (min-width: 1400px){
  .container-prod-row {
    max-width: 1200px;
  }
  /* Card design */
  .card {
    margin: 1em auto;
    background-color: #FFFFFF;
    width: 16em;
    max-width: 16em;
    height: 19em;
    max-height: 19em;
    // TESTING AND CAN BE CHANGED #181E24
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 4px solid #181E24;
  }
}
