.container {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  border: 1px solid black;
}

.card {
  display: inline-block;
  margin: 20px;
}

.card-title {
  text-align: left;
  font-weight: bold;
}

.card-text {
  text-align: left;
}

.btn {
  margin-right: 10px;
}
