.col-sm-3 {
  padding: 10px;
  float: left;
}
.card {
  width: 18rem;
  max-width: 18rem;
  height: 25em;
  max-height: 25em;
}

.card:hover{
  border-color: black;
}

.card-stock{
  bottom: 0px;
  float: left;
  text-align: left;
  padding-left: 20px;
}

p {
  padding: 0;
  margin: 0;
}

.card-title {
   text-align: left;
   font-weight: bold;
   font-size: 14px;
 }
.card-text {
  text-align: left;
  padding-bottom: 10px;
}

.card-top {
  height: 40%;
}

.card-body{
  border-style: solid;
  height: 70px;
  overflow: hidden;

}
.card-buttons{
  bottom: 0px;
  margin: 0 auto;
}
.btn btn-primary{
  margin-left: 10px;
  padding-left: 20px;
}
