<div class="row">
  <div class="col" *ngFor="let product of products" id="products">

    <div class="card shadow">
      <!--  IMAGE -->
      <div class="card-top">
        <img class="card-img-top img-fluid" src="{{product.imageUrl}}" alt="Card image cap">
      </div>

      <!--    BODY-->
      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">
          <span *ngFor="let tag of product.tags">
            <h6>{{tag.name}}</h6>
          </span>
        </p>
        <p class="card-text ">{{product.description}}</p>
        <div class="container ml-4">
          <app-star-review [productId]="product.id" [userId]="userId"></app-star-review>
          <!--  Need to add [userId]="user.id" or something -->
        </div>
        <br>
      </div>
      <div class="card-footer">
        <p class="price">{{product.price | currency}}
        </p>
      </div>
    </div>
  </div>
</div>
