<div class="container">
  <div class="row">
    <div class="col ml-3">
  <label for="sortSales">Sort by:</label><select id="sortSales" class="form-control" (change)="sort()">
  <option>Asc</option>
  <option>Desc</option>
</select>
    </div>
    <div class="col-10"></div>
  </div>
</div>
<div class="row">
  <div class="col" *ngFor="let product of products; let i=index" id="products">

    <div class="card shadow">
      <!--  IMAGE -->
      <div class="card-top">
        <img class="card-img-top img-fluid" src="{{product.imageUrl}}" alt="Card image cap">
      </div>

      <!--    BODY-->
      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">
          <span *ngFor="let tag of product.tags">
            <h6>{{tag.name}}</h6>
          </span>
        </p>
        <p class="card-text ">{{product.description}}</p>
        <div class="container" id="leftmargin">
          <app-star-review (click)="consLog(product.id)" [productId]="productID" [userId]="userId"></app-star-review>
          <!--  Need to add [userId]="user.id" or something -->
        </div>
        <br><br>

        <div class="container text-center" *ngIf="getObjectRating(product.id) === 0">
          <span class="badge badge-dark px-2 pt-2">
            <h6 class="text-white">
               No Reviews
            </h6>
          </span>
        </div>
        <div class="container text-center" *ngIf="getObjectRating(product.id) !== 0">
          <span class="badge badge-dark px-2 pt-2">
            <h6 class="text-white">
              Rating:  {{getObjectRating(product.id) | number: '1.1-1'}}/5
            </h6>
          </span>
        </div>

      </div>
      <div class="card-footer text-center">
        <p class="price">Format:{{product.format.name}}
        </p>
      </div>
    </div>
  </div>
</div>
